      

        <img src="{{ site_url }}{{ theme:asset src="img/flag.svg" }}" class="flag" alt="Veteran Owned Business">

<footer role="contentinfo">
	<div class="container">
		<div class="grid">
			<div class="social-signin">
				<img src="{{ main_globals:logo }}" alt="UpClose RV Logo" class="footer-logo">
				<br/>
				<a href="{{ main_globals:twitter_link }}" class="fab fa-twitter"></a>
				<a href="{{ main_globals:facebook_link }}" class="fab fa-facebook-f"></a>
				<a href="{{ main_globals:youtube_link }}" class="fab fa-youtube"></a>
				<br/>
				<a href="" class="button round green">Sign In</a>
			</div>
			
			<div class="col">
				<p class="title h10">Company</p>
				<a href="/our-story">Our Story</a>
				<a href="/press">Press</a>
			</div>
			
			<div class="col">
				<p class="title h10">Resources</p>
				<a href="/frequently-asked-questions">FAQs</a>
				<a href="/support">Support</a>
				<a href="/property-owners">Host Resources</a>
				<a href="/for-travelers">Traveler Guides</a>
				<a href="/our-partners">Partners</a>
			</div>
			
			<div class="col">
				<p class="title h10">Extras</p>
				<a href="/policies">Privacy Policy</a>
				<a href="/policies">Terms of Service</a>
			</div>
		</div>
	</div>
	<p class="copy">&copy; 2018 UpClose RV</p>
</footer>







<!-- <a data-fancybox="" data-src="#areyousure" data-modal="true" href="javascript:;"></a> -->



<div id="thank-you" class="p-5 fancybox-content" style="display: none;max-width: 900px;">
	<a class="close" data-fancybox-close><img src="{{ site_url }}{{ theme:asset src="img/x.svg" }}"></a>
	<p class="h4">Thank You!</p>
	<p>Pommy ipsum a diamond geezer chips some mothers do 'ave 'em beefeater oopsy-daisies plum pudding, a cuppa hadn't done it in donkey's years terribly bowler hat conkers pompous. Ridicule ponce bloke knee high to a grasshopper i'll be a monkey's uncle chaps, what a load of cobblers it's cracking flags meat and two veg, scones gravy cheese and chips tally-ho.</p>
</div>

<div id="areyousure" class="p-5 fancybox-content" style="display: none;max-width: 900px;">
	<a class="close" data-fancybox-close><img src="{{ site_url }}{{ theme:asset src="img/x.svg" }}"></a>
	<p class="h4">Are you sure?</p>
	<p>Pommy ipsum a diamond geezer chips some mothers do 'ave 'em beefeater oopsy-daisies plum pudding, a cuppa hadn't done it in donkey's years terribly bowler hat conkers pompous.</p>
	<div class="grid"><a class="two button white round">never-mind, take me back</a> <a class="two button brown round">delete forever</a></div>
</div>

<div id="cancel" class="p-5 fancybox-content" style="display: none;max-width: 900px;">
	<a class="close" data-fancybox-close><img src="{{ site_url }}{{ theme:asset src="img/x.svg" }}"></a>
	<p class="h4">Are you sure you want to cancel this reservation?</p>
	<p>Pommy ipsum a diamond geezer chips some mothers do 'ave 'em beefeater oopsy-daisies plum pudding, a cuppa hadn't done it in donkey's years terribly bowler hat conkers pompous.</p>
	
	<h2 class="h6">Send a message to your host.</h2>
	<form class="style">
		<textarea placeholder="This is my message..."></textarea>
	</form>
	<div class="grid"><a class="two button white round">never-mind, take me back</a> <a class="two button brown round">delete forever</a></div>
</div>

</body>
</html>