@font-face {
    font-family: 'maskoolinregular';
    src: url('maskoolin-webfont.woff2') format('woff2'),
         url('maskoolin-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face{
        font-family:"Avenir LT W01_35 Light1475496";
        src:url("edefe737-dc78-4aa3-ad03-3c6f908330ed.eot?#iefix");
        src:url("edefe737-dc78-4aa3-ad03-3c6f908330ed.eot?#iefix") format("eot"),url("0078f486-8e52-42c0-ad81-3c8d3d43f48e.woff2") format("woff2"),url("908c4810-64db-4b46-bb8e-823eb41f68c0.woff") format("woff"),url("4577388c-510f-4366-addb-8b663bcc762a.ttf") format("truetype"),url("b0268c31-e450-4159-bfea-e0d20e2b5c0c.svg#b0268c31-e450-4159-bfea-e0d20e2b5c0c") format("svg");
    }
    @font-face{
        font-family:"Avenir LT W01_45 Book1475508";
        src:url("710789a0-1557-48a1-8cec-03d52d663d74.eot?#iefix");
        src:url("710789a0-1557-48a1-8cec-03d52d663d74.eot?#iefix") format("eot"),url("065a6b14-b2cc-446e-9428-271c570df0d9.woff2") format("woff2"),url("65d75eb0-2601-4da5-a9a4-9ee67a470a59.woff") format("woff"),url("c70e90bc-3c94-41dc-bf14-caa727c76301.ttf") format("truetype"),url("0979215b-3a1b-4356-9c76-e90fa4551f1d.svg#0979215b-3a1b-4356-9c76-e90fa4551f1d") format("svg");
    }
    @font-face{
        font-family:"Avenir LT W01_65 Medium1475532";
        src:url("e0542193-b2e6-4273-bc45-39d4dfd3c15b.eot?#iefix");
        src:url("e0542193-b2e6-4273-bc45-39d4dfd3c15b.eot?#iefix") format("eot"),url("17b90ef5-b63f-457b-a981-503bb7afe3c0.woff2") format("woff2"),url("c9aeeabd-dd65-491d-b4be-3e0db9ae47a0.woff") format("woff"),url("25f994de-d13f-4a5d-a82b-bf925a1e054d.ttf") format("truetype"),url("3604edbd-784e-4ca7-b978-18836469c62d.svg#3604edbd-784e-4ca7-b978-18836469c62d") format("svg");
    }
    @font-face{
        font-family:"Avenir LT W01_85 Heavy1475544";
        src:url("6af9989e-235b-4c75-8c08-a83bdaef3f66.eot?#iefix");
        src:url("6af9989e-235b-4c75-8c08-a83bdaef3f66.eot?#iefix") format("eot"),url("d513e15e-8f35-4129-ad05-481815e52625.woff2") format("woff2"),url("61bd362e-7162-46bd-b67e-28f366c4afbe.woff") format("woff"),url("ccd17c6b-e7ed-4b73-b0d2-76712a4ef46b.ttf") format("truetype"),url("20577853-40a7-4ada-a3fb-dd6e9392f401.svg#20577853-40a7-4ada-a3fb-dd6e9392f401") format("svg");
    }
    @font-face{
        font-family:"Avenir LT W01_95 Black1475556";
        src:url("f55e4498-ad48-4577-93a0-c614de5cbbb8.eot?#iefix");
        src:url("f55e4498-ad48-4577-93a0-c614de5cbbb8.eot?#iefix") format("eot"),url("c78eb7af-a1c8-4892-974b-52379646fef4.woff2") format("woff2"),url("75b36c58-2a02-4057-a537-09af0832ae46.woff") format("woff"),url("b5c44a82-eeb8-41de-9c3f-a8db50b24b8a.ttf") format("truetype"),url("93603a74-2be0-436c-83e1-68f9ef616eaf.svg#93603a74-2be0-436c-83e1-68f9ef616eaf") format("svg");
    }



@font-face {
    font-family: 'bellabooregular';
    src: url('bellaboo-regular-webfont.woff2') format('woff2'),
         url('bellaboo-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}


